In [85]:
%matplotlib inline

import numpy as np
import pandas as pd
import functools

In [3]:
!ls data/Fresno/

 CO_PICKDATA_2014-12-31.csv	      PM25HR_PICKDATA_2015-12-31.csv
 CO_PICKDATA_2015-12-31.csv	      PM25HR_PICKDATA_2016-12-31.csv
 CO_PICKDATA_2016-12-31.csv	      SORAD_PICKDATA_2014-12-31.csv
 NOX_PICKDATA_2014-12-31.csv	      SORAD_PICKDATA_2015-12-31.csv
 NOX_PICKDATA_2015-12-31.csv	      SORAD_PICKDATA_2016-12-31.csv
 NOX_PICKDATA_2016-12-31.csv	      TEMP_PICKDATA_2014-12-31.csv
'OZONE_PICKDATA_2014-12-31 (1).csv'   TEMP_PICKDATA_2015-12-31.csv
 OZONE_PICKDATA_2015-12-31.csv	     'TEMP_PICKDATA_2016-12-31 (1).csv'
 OZONE_PICKDATA_2016-12-31.csv	      TEMP_PICKDATA_2016-12-31.csv
 PM10_LHR_PICKDATA_2014-12-31.csv     WINSPD_PICKDATA_2014-12-31.csv
 PM10_LHR_PICKDATA_2015-12-31.csv     WINSPD_PICKDATA_2015-12-31.csv
 PM10_LHR_PICKDATA_2016-12-31.csv     WINSPD_PICKDATA_2016-12-31.csv
 PM25HR_PICKDATA_2014-12-31.csv

In [40]:
def read_file(filename):
    df = pd.read_csv(filename, parse_dates=[1])
    df.dropna(subset=['value'], inplace=True)
    df.date = pd.to_datetime(df.date, format="%Y-%m-%d-%H")
    df.index = df.date
    df.sort_index(inplace=True)
    return df

In [49]:
df_ozone = read_file("data/Fresno/data_combination/OZONE.csv")
df_ozone.head()

,site,date,value,variable,units,quality,prelim,name
date,,,,,,,,
2014-01-01 00:00:00,3781,2014-01-01 00:00:00,0.0014,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 01:00:00,3781,2014-01-01 01:00:00,0.0022,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 02:00:00,3781,2014-01-01 02:00:00,0.0023,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 03:00:00,3781,2014-01-01 03:00:00,0.0017,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 05:00:00,3781,2014-01-01 05:00:00,0.0001,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland

In [48]:
df_pm10 = read_file("data/Fresno/data_combination/PM10.csv")
df_pm10.head()

,site,monitor,date,value,variable,units,quality,prelim,name
date,,,,,,,,,
2014-01-01 00:00:00,3781,C,2014-01-01 00:00:00,172.2,PM10_LHR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 01:00:00,3781,C,2014-01-01 01:00:00,187.0,PM10_LHR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 02:00:00,3781,C,2014-01-01 02:00:00,195.5,PM10_LHR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 03:00:00,3781,C,2014-01-01 03:00:00,178.8,PM10_LHR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 04:00:00,3781,C,2014-01-01 04:00:00,140.3,PM10_LHR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland

In [47]:
df_pm25 = read_file("data/Fresno/data_combination/PM25.csv")
df_pm25.head()

,site,monitor,date,value,variable,units,quality,prelim,name
date,,,,,,,,,
2014-01-01 00:00:00,3781,E,2014-01-01 00:00:00,136.4,PM25HR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 01:00:00,3781,E,2014-01-01 01:00:00,152.3,PM25HR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 02:00:00,3781,E,2014-01-01 02:00:00,161.6,PM25HR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 03:00:00,3781,E,2014-01-01 03:00:00,151.9,PM25HR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland
2014-01-01 04:00:00,3781,E,2014-01-01 04:00:00,121.4,PM25HR,Micrograms/Cubic Meter ( ug/m<sup>3</sup> ),NaN,NaN,Fresno-Garland

In [93]:
def split_into_list(x):
    if x == 'CALM':
        return (0, 0)
    else:
        y = x.split('/')
        return (float(y[0]), float(y[1]))

df_wind = read_file("data/Fresno/data_combination/WINSPD.csv")
df_wind['value_split'] = df_wind.value.apply(split_into_list)
df_wind['wd'] = df_wind.value_split.apply(lambda x: x[0])
df_wind['ws'] = df_wind.value_split.apply(lambda x: x[1])
df_wind.head()

,site,date,value,variable,units,quality,prelim,met_source,obs_type,minutes,name,value_split,wd,ws
date,,,,,,,,,,,,,,
2014-01-01 00:00:00,3781,2014-01-01 00:00:00,CALM,WINSPD_wd/ws,Meters/Second ( m/s ),0,y,NaN,H,-99,Fresno-Garland,"(0, 0)",0.0,0.0
2014-01-01 01:00:00,3781,2014-01-01 01:00:00,CALM,WINSPD_wd/ws,Meters/Second ( m/s ),0,y,NaN,H,-99,Fresno-Garland,"(0, 0)",0.0,0.0
2014-01-01 02:00:00,3781,2014-01-01 02:00:00,CALM,WINSPD_wd/ws,Meters/Second ( m/s ),0,y,NaN,H,-99,Fresno-Garland,"(0, 0)",0.0,0.0
2014-01-01 03:00:00,3781,2014-01-01 03:00:00,075/00.6,WINSPD_wd/ws,Meters/Second ( m/s ),0,y,NaN,H,-99,Fresno-Garland,"(75.0, 0.6)",75.0,0.6
2014-01-01 04:00:00,3781,2014-01-01 04:00:00,CALM,WINSPD_wd/ws,Meters/Second ( m/s ),0,y,NaN,H,-99,Fresno-Garland,"(0, 0)",0.0,0.0

In [94]:
df_nox = read_file("data/Fresno/data_combination/NOX.csv")
df_nox.head()

,site,date,value,variable,units,quality,prelim,name
date,,,,,,,,
2014-01-01 00:00:00,3781,2014-01-01 00:00:00,0.1685,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 01:00:00,3781,2014-01-01 01:00:00,0.1753,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 02:00:00,3781,2014-01-01 02:00:00,0.1599,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 03:00:00,3781,2014-01-01 03:00:00,0.1439,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 05:00:00,3781,2014-01-01 05:00:00,0.1102,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland

In [95]:
df_temp = read_file("data/Fresno/data_combination/TEMP.csv")
df_temp.head()

,site,date,value,variable,units,quality,prelim,met_source,obs_type,minutes,name
date,,,,,,,,,,,
2014-01-01 00:00:00,3781,2014-01-01 00:00:00,6.21,TEMP,Degrees Celsius ( <sup>o</sup>C ),0,y,NaN,H,-99,Fresno-Garland
2014-01-01 01:00:00,3781,2014-01-01 01:00:00,5.63,TEMP,Degrees Celsius ( <sup>o</sup>C ),0,y,NaN,H,-99,Fresno-Garland
2014-01-01 02:00:00,3781,2014-01-01 02:00:00,5.08,TEMP,Degrees Celsius ( <sup>o</sup>C ),0,y,NaN,H,-99,Fresno-Garland
2014-01-01 03:00:00,3781,2014-01-01 03:00:00,4.63,TEMP,Degrees Celsius ( <sup>o</sup>C ),0,y,NaN,H,-99,Fresno-Garland
2014-01-01 04:00:00,3781,2014-01-01 04:00:00,4.36,TEMP,Degrees Celsius ( <sup>o</sup>C ),0,y,NaN,H,-99,Fresno-Garland

In [82]:
df_merge = pd.merge(df_ozone, df_wind, how='outer', left_index=True, right_index=True, copy=False, suffixes=('_ozone', '_wind'))
df_merge2 = pd.merge(df_pm10, df_pm25, how='outer', left_index=True, right_index=True, copy=False, suffixes=('_pm10', '_pm25'))

In [96]:
df_all = functools.reduce(lambda left,right: pd.merge(left, right, how='outer', left_index=True, right_index=True, copy=False), [df_ozone, df_wind, df_pm10, df_pm25, df_temp, df_nox])
df_all.head()

,site_x,date_x,value_x,variable_x,units_x,quality_x,prelim_x,name _x,site_y,date_y,...,minutes_y,name _x,site_y,date_y,value_y,variable_y,units_y,quality_y,prelim_y,name _y
date,,,,,,,,,,,,,,,,,,,,,
2014-01-01 00:00:00,3781.0,2014-01-01 00:00:00,0.0014,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland,3781.0,2014-01-01 00:00:00,...,-99.0,Fresno-Garland,3781.0,2014-01-01 00:00:00,0.1685,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 01:00:00,3781.0,2014-01-01 01:00:00,0.0022,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland,3781.0,2014-01-01 01:00:00,...,-99.0,Fresno-Garland,3781.0,2014-01-01 01:00:00,0.1753,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 02:00:00,3781.0,2014-01-01 02:00:00,0.0023,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland,3781.0,2014-01-01 02:00:00,...,-99.0,Fresno-Garland,3781.0,2014-01-01 02:00:00,0.1599,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 03:00:00,3781.0,2014-01-01 03:00:00,0.0017,OZONE,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland,3781.0,2014-01-01 03:00:00,...,-99.0,Fresno-Garland,3781.0,2014-01-01 03:00:00,0.1439,NOX,Parts Per Million ( ppm ),NaN,NaN,Fresno-Garland
2014-01-01 04:00:00,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,3781.0,2014-01-01 04:00:00,...,-99.0,Fresno-Garland,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
df_all.to_csv('data_merged_all.csv')